<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>

    <div class='clearfix'>
      <button class="btn btn-primary btn-sm pull-right" [routerLink]="['/product/0/edit']">
        Add Product
      </button>
    </div>

    <div class='table-responsive'>
      <table class='table' *ngIf='items && items.length'>
        <thead>
          <tr>
            <th>Product</th>
            <th>Code</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of filtedProducts' [routerLink]="['/productsDetails',product.productId]">
            <td>{{product.productName}}</td>
            <td>{{product.productCode|lowercase|convertToSpace:'-'}}</td>
            <td>
              <button class="btn btn-outline-primary btn-sm" [routerLink]="['/product', product.productId, 'edit']">
                Edit
              </button>
            </td>
          </tr>
        </tbody>

      </table>

      <div class="center">
        <app-paginator [previousBtn]="previousBtn" [nextBtn]="nextBtn" (previousE)="previous()" (nextE)="next()">
        </app-paginator>
      </div>

    </div>
  </div>
</div>