<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>

    <div class='clearfix'>
      <button class="btn btn-primary btn-sm pull-right" [routerLink]="['/categories', 0]">
        <i class="fa fa-plus" aria-hidden="true"></i> Add Category
      </button>
    </div>

    <div class='table-responsive'>
      <table class='table' *ngIf='categories && categories.length'>
        <thead>
          <tr>
            <th>Category id</th>
            <th> Category name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let category of categories'>
            <td>{{category.id}}</td>
            <td>{{category.categoryName}}</td>
            <td>
              <button class="btn btn-outline-primary btn-sm" style="margin:5px;"
                [routerLink]="['/categories', category.id]">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>

              <button class="btn btn-outline-primary btn-sm" (click)="deleteCategory(category.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>

          </tr>
        </tbody>

      </table>

      <custom-paginator  [totalRecords]="totalRecords" [recordsPerPage]="recordsPerPage" (onPageChange)="displayActivePage($event)"></custom-paginator> 
    </div>
  </div>
</div>